.fundo {
  background-color: rgb(180, 179, 176);
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  
}


.fundoEstoque {
  background-color: rgb(230, 226, 221);
  height: 70%;
  display: flex;
  justify-content: center;
  border-style: groove;
  
}
h2{
  align-items: center;
}
.modalFundo{
  
  flex-direction: column;
  align-items: center;
 
}

.modal{
  display: flex;
  flex-direction: column;
  

}
.inputVP{
  width: 20%;
}
input{
  width: 60%;

}

.produtosList{
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid black;

}

.nomePro{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 120px;
}
.nomeid{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.barraDeNome{
  display: flex;
  
}

.precoVenda{
  padding: 10px;
  width: 120px;
  
}

.precoCompra{
  padding: 10px;
}
 main{
   display: flex;
   width: 100%;
   height: 100%;
 }
.nome{
  font-size: arial;
  font-weight: bold;
  display: flex;
  padding: 10px;
  border-style: groove;
  
}
